# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.whl
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
.env.*

# Virtual Environment
venv/
ENV/
env/
.venv/

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# Docker
*.pid
*.swp
docker-compose.override.yml

# Postgres
*.dump

# Celery
celerybeat-schedule
celerybeat.pid

# MacOS
.DS_Store

# Others
*.bak
*.tmp
